/* CSS rules */

html,
body,
#root {
  height: 100%;
  background-color: #1b1b1b;
  color: #e8e8e8;
  width: 100%;
  padding: 0;
  margin: 0;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #eeeeee;
}

.white-text {
  color: white;
}

/* --------- NAV BAR ----------- */

nav a.active:not(.navbar-brand),
nav a:hover:not(.navbar-brand) {
  text-decoration: underline;
}

.dropdown-menu.show {
  max-width: 70px !important;
}

.dropdown-menu[data-bs-popper] .dropdown-item-text {
  word-wrap: break-word !important;
}


/* ---------- UNIVERSAL CLASSES ------------- */

.white-text {
  color: rgb(236, 236, 236);
}

.thin-rounded-outline {
  border: 1px solid #eee;
  border-radius: 10px;
  /* padding: 10px; */
  background-color: #252020;
}

.spacer {
  height: 70px;
}






/* ----------- LANDING ------------ */

.landing-hero-image {
  background-image: url(/images/misty_coffee.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.landing-hero-image h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 250px;
}

.landing-hero-image h3 {
  color: #000000;
  font-weight: 400;
}

.learn-more-img {
  background-image: url(/images/grinder_1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.landing-section {
  background-color: black;
  padding: 100px 0 0 0;
  display: flex;
  flex-direction: column;
}

.landing-section h3 {
  text-align: center;
}

.landing-link {
  text-decoration: none;
  text-align: center;

}

/* .search-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #a46e4c45;
  color: #bebebe;
  font-style: italic;
} */


/* .landing-post {
  position: relative;
}

.landing-post:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  background: #D2E887;
  width: 7px;
  height: 100%;
}

.shop-output {
  grid-template-columns: repeat(3, 1fr);
} */


/* ----------- COFFEE SEARCH ------------- */

.coffee-thumbnail {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* .coffee-search-bg {
  padding: 0;
  margin: 0;
  background-image: url(/images/beans_1.jpg);
  height: 200px;
  width: 100%;
  background-size: cover;
} */


/* --------- MEDIA QUERIES ---------- */

@media (min-width: 1920px) {
  .landing-hero-image {
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
  }
}



@media (max-width: 980px) {
  .shop-output {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-output .button-wrap {
    flex-direction: column;
    row-gap: 10px;
  }
}



@media (max-width: 768px) {
  .hero-text {
    margin-top: 25px !important;
  }
}



@media (max-width: 490px) {
  .nav-wrap {
    flex-direction: column !important;
  }

  .navbar-nav.ms-auto {
    margin-left: 0 !important;
  }

  main form {
    width: 450px !important;
  }

  .shop-output {
    grid-template-columns: 1fr;
  }
}