/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Concert+One&family=Crete+Round:ital@0;1&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&display=swap');


/* ---------- */
/* LOGO FONT: */
/* ---------- */
.crete-round-font {
  font-family: 'Crete Round', serif;
}

/* ----------- */
/* HEADER FONT */
/* ----------- */
.caudex-font {
  font-family: 'Caudex', serif;
}


/* OTHER FONTS */
.figtree-font {
  font-family: 'Figtree', sans-serif;
}

.eb-garamond-font {
  font-family: 'EB Garamond', serif;
}






/* CSS rules */

html,
body,
#root {
  height: 100%;
  background-color: #1b1b1b;
  color: #e8e8e8;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: eb garamond, sans-serif;
}

article h4 {
  white-space: wrap !important;
  max-width: 100%;
  word-break: break-word;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: #eeeeee;
}


/* ---------- UNIVERSAL CLASSES ------------- */

.white-text {
  color: rgb(236, 236, 236) !important;
}

.light-link-text {
  color: #ff9393 !important;
}

.thin-rounded-outline {
  border: 1px solid #eee;
  border-radius: 10px;
  /* padding: 10px; */
  background-color: #252020;
}

.modal-content {
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  /* padding: 10px; */
  background-color: #252020 !important;
  color: #eee !important;
}

.spacer {
  height: 70px;
}

.italic {
  font-style: italic;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}


/* --------- NAV BAR ----------- */

nav a.active:not(.navbar-brand),
nav a:hover:not(.navbar-brand) {
  text-decoration: underline;
}

.dropdown-menu.show {
  max-width: 70px !important;
}

.dropdown-menu[data-bs-popper] .dropdown-item-text {
  word-wrap: break-word !important;
}


/* ----------- LOGIN, REGISTER, CHANGE PASSWORD ----- */

.auth-form {
  min-width: 400px;
  max-width: 1000px;
  padding: 0 7%;
}



/* ----------- LANDING ------------ */

.landing-hero-image {
  background-image: url(/images/misty_coffee.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
}

.landing-hero-image h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding-top: 250px;
}

.landing-hero-image h3 {
  color: #000000;
  font-weight: 400;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.about-img {
  background-image: url('images/coffee_pour_3.jpg');
  background-size: cover;
  background-position: top;
  min-height: 900px;
  position: relative;
  opacity: 0;
  transition: opacity 1s;
}

.about-img.show {
  opacity: 1;
}

.about-img .landing-btn {
  background-color: #171717c7;
  margin: 0;
  padding: 25px 40px 18px 40px;
  position: absolute;
  top: 65%;
  right: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.about-img .landing-btn:hover {
  background-color: #270505dc;
  transition: background-color .5s;
  margin: 0;
  padding: 25px 40px 18px 40px;
  position: absolute;
  top: 65%;
  right: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.landing-btn {
  padding: 15px 30px 10px 30px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #171717;
  color: #bebebe;
  font-style: italic;
}

.landing-btn a {
  text-decoration: none !important;
}

.landing-btn:hover {
  padding: 15px 30px 10px 30px;
  border: 1px solid #eee;
  border-radius: 10px;
  background-color: #270505dc;
  transition: background-color .5s;
  color: #bebebe;
  font-style: italic;
}

.search-recipes {
  background-image: url(/images/grinder_1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  position: relative;
}

.search-recipes .landing-btn {
  margin: 0;
  position: absolute;
  top: 0;
  right: 50%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.landing-section {
  background-color: black;
  padding: 140px 0 0 0 !important;
  display: flex;
  flex-direction: column;
}

.landing-section h3 {
  text-align: center;
}

.landing-link {
  text-decoration: none;
  text-align: center;
}

/* -------------- FAVORTIES -------------- */

/* .shop-card {
  
  margin: 30px 20px;
} */

.fav-section {
  background-color: #ffebe717;
  margin: 75px 0 150px 0;
  padding: 40px 0 60px 0;
}

.shop-output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 75px;
}

.add-btn {
  padding: 10px !important;
  margin-top: 10px;
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  background-color: #163d25 !important;
  color: #bebebe !important;
  font-style: italic !important;
  font-family: caudex, serif !important;
}

.view-coffee-btn {
  padding: 10px !important;
  margin-top: 10px;
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  background-color: #270f0fc1 !important;
  color: #bebebe !important;
  font-style: italic !important;
  font-family: caudex, serif !important;
}

.add-btn:hover {
  padding: 10px !important;
  margin-top: 10px;
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  background-color: #187a3e !important;
  color: #ffffff !important;
  font-style: italic !important;
  font-family: caudex, serif !important;
}

.view-coffee-btn:hover {
  padding: 10px !important;
  margin-top: 10px;
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  background-color: #673c19c1 !important;
  color: #ffffff !important;
  font-style: italic !important;
  font-family: caudex, serif !important;
}




/* ----------- COFFEE SEARCH ------------- */

.coffee-thumbnail {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}



/* ---------------- ABOUT ----------------  */

.about-landing {
  background-image: url(/public/images/equipment_centered.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.about-text {
  text-align: center;
  padding: 0 20%;
}


/* ----------- CONTACT ----------- */

.contact-header {
  text-align: center;
  padding: 75px 0 50px 0;
}



/* ------------- REGISTER AND LOGIN ------------- */

.login-reg-bg {
  background-image: url(/public/images/cups_1.jpg) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
  height: 100vh;
}

.black-bg {
  background-color: #000000de;
  padding: 20px 0 100px 0;
}

.login-reg-forms {
  min-width: 400px;
  max-width: 1000px;
  padding: 0 3%;
}







/* ---------------------------------- */
/* --------- MEDIA QUERIES ---------- */
/* ---------------------------------- */

@media (min-width: 1920px) {
  .landing-hero-image {
    max-width: 1920px;
    display: flex;
    justify-content: space-around;
  }
}


@media (min-width: 1150px) {
  .side-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .search-recipes {
    background-image: url(/images/grinder_1.jpg);
    background-position: top;
    height: auto;
    width: 1200px;
    padding: 0 auto 0 auto;
    margin: 55px 0 85px 0;
    position: relative;
  }

  .search-recipes .landing-btn {
    margin: 0;
    position: absolute;
    top: 5%;
    right: 50%;
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}



@media (max-width: 980px) {
  .shop-output {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-output .button-wrap {
    flex-direction: column;
    row-gap: 10px;
  }
}




@media (max-width: 768px) {
  .hero-text {
    margin-top: 25px !important;
  }
}



@media (max-width: 510px) {
  .nav-wrap {
    flex-direction: column !important;
  }

  .navbar-nav.ms-auto {
    margin-left: 0 !important;
  }

  main form {
    width: 450px !important;
  }

  .shop-output {
    grid-template-columns: 1fr !important;
  }

  .shop-output .shop-card {
    width: 100% !important;
  }
}